{% extends 'blog/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<section class="bloco_descricao_login">
  <!-- <h2 class="titulo">Modelo</h2> -->
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
  <!-- <strong>AVISOS IMPORTANTES</strong> -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="button">Entrar</button>    
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</section>
{% endblock %}
