{% extends 'blog/base.html' %}
{% block title %}AniversáriosFevereiro{% endblock %}
{% block content %}
<div  class="bloco_tabela_aniversariantes">
  <h3 class="titulo_tabela_aniversariantes">MILITARES DO CIMH</h3>
  <div class="opcao_voltar_pagina_principal_aniversarios">
  {% load static %}
  <a href="/aniversarios1/"><img src="{% static 'imagens/button/voltar.png' %}" alt="Imagem de um botão que tem escrito nele voltar. Clicando neste botão ele faz retornar para página principal dos aniversários, onde mostra todos os meses do ano" title="Opção voltar"></a>
  </div>
  <br>
  <br>
  <table class="tabela_aniversariantes"> <!--Uma tabela HTML é definida com a <table>tag.-->
    <tr> <!-- linha -->
      <th class="th_tab_ani"> DIA </th> <!-- Cabeçalho -->
      <th class="th_tab_ani"> POST/NOME </th>
    </tr>
    <tr>
      <td class="td_tab_ani_1"> 02 </td> <!-- Célula/Coluna-->
      <td class="td_tab_ani_2"> ST Viera </td>
    </tr>
    <tr>
      <td class="td_tab_ani_1"> 07 </td>
      <td class="td_tab_ani_2"> Cb EP Ribeiro </td>
    </tr>
    <tr>
      <td class="td_tab_ani_1"> 14 </td>
      <td class="td_tab_ani_2"> Sd EP Tobias </td>
    </tr>
    <tr>
      <td class="td_tab_ani_1"> 14 </td>
      <td class="td_tab_ani_2"> Sd EV Dos Santos </td>
    </tr>
    <tr>
      <td class="td_tab_ani_1"> 15 </td>
      <td class="td_tab_ani_2"> 1º Ten Gaier </td>
    </tr>
    <tr>
      <td class="td_tab_ani_1"> 17 </td>
      <td class="td_tab_ani_2"> Sd EV Reis </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock %}
