{% extends 'blog/base.html' %}
{% block title %}Boletins Internos Julho 2015{% endblock %}
{% block content %}
<div  class="bloco_tabela_boletins_2015">
  <h3 class="titulo_tabela_boletins_2015">BOLETINS DE JULHO DE 2015</h3>
  <div class="opcao_voltar_pagina_principal_boletins_2015">
  {% load static %}
  <a href="/bi20151/"><img src="{% static 'imagens/button/voltar.png' %}" alt="Imagem de um botão que tem escrito nele "voltar". Clicando neste botão ele faz retornar para página principal dos meses dos boletins, onde mostra todos os meses do ano" title="Opção voltar"></a>
  </div>
  <br>
  <br>
  <table class="tabela_boletins_2015"> <!--Uma tabela HTML é definida com a <table>tag.-->
    <tr> <!-- linha -->
      <th class="th_tab_bi_2015"> ORDEM </th> <!-- Cabeçalho -->
      <th class="th_tab_bi_2015"> Nº BI </th>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 54 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_054_3_Jul_15.pdf' %}" target="_blank"> BI DIA 03 JUL 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 55 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_055_07_Jul_15.pdf' %}" target="_blank"> BI DIA 07 JUL 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 56 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_056_10_Jul_15.pdf' %}" target="_blank"> BI DIA 10 JUL 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 57 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_057_14_Jul_15.pdf' %}" target="_blank"> BI DIA 14 JUL 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 58 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_058_17_Jul_15.pdf' %}" target="_blank"> BI DIA 17 JUL 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 59 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_059_21_Jul_15.pdf' %}" target="_blank"> BI DIA 21 JUL 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 60 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_060_24_Jul_15.pdf' %}" target="_blank"> BI DIA 24 JUL 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 61 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_061_28_Jul_15.pdf' %}" target="_blank"> BI DIA 28 JUL 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 62 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/julho2015/BI_062_31_Jul_15.pdf' %}" target="_blank"> BI DIA 31 JUL 2015 </a> </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock %}
