{% extends 'blog/base.html' %}
{% block title %}Boletins Internos Setembro 2015{% endblock %}
{% block content %}
<div  class="bloco_tabela_boletins_2015">
  <h3 class="titulo_tabela_boletins_2015">BOLETINS DE SETEMBRO DE 2015</h3>
  <div class="opcao_voltar_pagina_principal_boletins_2015">
  {% load static %}
  <a href="/bi20151/"><img src="{% static 'imagens/button/voltar.png' %}" alt="Imagem de um botão que tem escrito nele "voltar". Clicando neste botão ele faz retornar para página principal dos meses dos boletins, onde mostra todos os meses do ano" title="Opção voltar"></a>
  </div>
  <br>
  <br>
  <table class="tabela_boletins_2015"> <!--Uma tabela HTML é definida com a <table>tag.-->
    <tr> <!-- linha -->
      <th class="th_tab_bi_2015"> ORDEM </th> <!-- Cabeçalho -->
      <th class="th_tab_bi_2015"> Nº BI </th>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 71 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_071_1_Set_15.pdf' %}" target="_blank"> BI DIA 01 SET 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 72 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_072_4_Set_15.pdf' %}" target="_blank"> BI DIA 04 SET 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 73 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_073_8_Set_15.pdf' %}" target="_blank"> BI DIA 08 SET 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 74 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_074_11_Set_15.pdf' %}" target="_blank"> BI DIA 11 SET 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 75 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_075_15_Set_15.pdf' %}" target="_blank"> BI DIA 15 SET 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 76 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_076_18_Set_15.pdf' %}" target="_blank"> BI DIA 18 SET 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 77 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_077_22_Set_15.pdf' %}" target="_blank"> BI DIA 22 SET 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 78 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_078_25_Set_15.pdf' %}" target="_blank"> BI DIA 25 SET 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 79 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/setembro2015/BI_079_29_Set_15.pdf' %}" target="_blank"> BI DIA 29 SET 2015 </a> </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock %}
