{% extends 'blog/base.html' %}
{% block title %}Boletins Internos Março 2015{% endblock %}
{% block content %}
<div  class="bloco_tabela_boletins_2015">
  <h3 class="titulo_tabela_boletins_2015">BOLETINS DE MARÇO DE 2015</h3>
  <div class="opcao_voltar_pagina_principal_boletins_2015">
  {% load static %}
  <a href="/bi20151/"><img src="{% static 'imagens/button/voltar.png' %}" alt="Imagem de um botão que tem escrito nele "voltar". Clicando neste botão ele faz retornar para página principal dos meses dos boletins, onde mostra todos os meses do ano" title="Opção voltar"></a>
  </div>
  <br>
  <br>
  <table class="tabela_boletins_2015"> <!--Uma tabela HTML é definida com a <table>tag.-->
    <tr> <!-- linha -->
      <th class="th_tab_bi_2015"> ORDEM </th> <!-- Cabeçalho -->
      <th class="th_tab_bi_2015"> Nº BI </th>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> Adit </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/marco2015/Adit_Incorp_EV.pdf' %}" target="_blank"> Aditamento Incorp Sd EV </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 19 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/marco2015/BI_019_3_Mar_15.pdf' %}" target="_blank"> BI DIA 03 MAR 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 20 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/marco2015/BI_020_6_Mar_15.pdf' %}" target="_blank"> BI DIA 06 MAR 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 21 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/marco2015/BI_021_10_Mar_15.pdf' %}" target="_blank"> BI DIA 10 MAR 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 22 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/marco2015/BI_022_13_Mar_15.pdf' %}" target="_blank"> BI DIA 13 MAR 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 23 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/marco2015/BI_023_17_Mar_15.pdf' %}" target="_blank"> BI DIA 17 MAR 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 24 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/marco2015/BI_024_20_Mar_15.pdf' %}" target="_blank"> BI DIA 20 MAR 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 25 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/marco2015/BI_025_24_Mar_15.pdf' %}" target="_blank"> BI DIA 24 MAR 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 26 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/marco2015/BI_026_27_Mar_15.pdf' %}" target="_blank"> BI DIA 27 MAR 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 27 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/marco2015/BI_027_31_Mar_15.pdf' %}" target="_blank"> BI DIA 31 MAR 2015 </a> </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock %}
