{% extends 'blog/base.html' %}
{% block title %}Boletins Internos Junho 2015{% endblock %}
{% block content %}
<div  class="bloco_tabela_boletins_2015">
  <h3 class="titulo_tabela_boletins_2015">BOLETINS DE JUNHO DE 2015</h3>
  <div class="opcao_voltar_pagina_principal_boletins_2015">
  {% load static %}
  <a href="/bi20151/"><img src="{% static 'imagens/button/voltar.png' %}" alt="Imagem de um botão que tem escrito nele "voltar". Clicando neste botão ele faz retornar para página principal dos meses dos boletins, onde mostra todos os meses do ano" title="Opção voltar"></a>
  </div>
  <br>
  <br>
  <table class="tabela_boletins_2015"> <!--Uma tabela HTML é definida com a <table>tag.-->
    <tr> <!-- linha -->
      <th class="th_tab_bi_2015"> ORDEM </th> <!-- Cabeçalho -->
      <th class="th_tab_bi_2015"> Nº BI </th>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 45 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/junho2015/BI_045_2_Jun_15.pdf' %}" target="_blank"> BI DIA 02 JUN 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 46 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/junho2015/BI_046_5_Jun_15.pdf' %}" target="_blank"> BI DIA 05 JUN 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 47 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/junho2015/BI_047_9_Jun_15.pdf' %}" target="_blank"> BI DIA 09 JUN 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 48 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/junho2015/BI_048_12_Jun_15.pdf' %}" target="_blank"> BI DIA 12 JUN 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 49 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/junho2015/BI_049_16_Jun_15.pdf' %}" target="_blank"> BI DIA 16 JUN 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 50 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/junho2015/BI_050_19_Jun_15.pdf' %}" target="_blank"> BI DIA 19 JUN 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 51 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/junho2015/BI_051_23_Jun_15.pdf' %}" target="_blank"> BI DIA 23 JUN 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 52 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/junho2015/BI_052_26_Jun_15.pdf' %}" target="_blank"> BI DIA 26 JUN 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 53 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/junho2015/BI_053_30_Jun_15.pdf' %}" target="_blank"> BI DIA 30 JUN 2015 </a> </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock %}
