{% extends 'blog/base.html' %}
{% block title %}Boletins Internos 2019{% endblock %}
{% block content %}
<section class="bloco_descricao_boletins_2019">
  <h2 class="titulo_boletins_2019">BOLETINS INTERNOS 2019</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
  <!-- <strong class="titulo">ANIVERSARIANTES DO C.I.M.H.</strong> -->
  <br>
  <div class="bloco_meses_boletins_2019">
    <div class="fotos_boletins_2019_subgrupo">
{% load static %}
    <a href="/bi201911/"><img src="{% static 'imagens/button/janeiro.png' %}" alt="Imagem de um botão que tem escrito nele Janeiro" title="Mês de Janeiro"></a>
    <a href="/bi201912/"><img src="{% static 'imagens/button/fevereiro.png' %}" alt="Imagem de um botão que tem escrito nele Fevereiro" title="Mês de Fevereiro"></a>
    <a href="/bi201913/"><img src="{% static 'imagens/button/marco.png' %}" alt="Imagem de um botão que tem escrito nele Março" title="Mês de Março"></a>
    <a href="/bi201914/"><img src="{% static 'imagens/button/abril.png' %}" alt="Imagem de um botão que tem escrito nele Abril" title="Mês de Abril"></a>
    <a href="/bi201915/"><img src="{% static 'imagens/button/maio.png' %}" alt="Imagem de um botão que tem escrito nele Maio" title="Mês de Maio"></a>
    <a href="/bi201916/"><img src="{% static 'imagens/button/junho.png' %}" alt="Imagem de um botão que tem escrito nele Junho" title="Mês de Junho"></a>
    <a href="/bi201917/"><img src="{% static 'imagens/button/julho.png' %}" alt="Imagem de um botão que tem escrito nele Julho" title="Mês de Julho"></a>
    <a href="/bi201918/"><img src="{% static 'imagens/button/agosto.png' %}" alt="Imagem de um botão que tem escrito nele Agosto" title="Mês de Agosto"></a>
    <a href="/bi201919/"><img src="{% static 'imagens/button/setembro.png' %}" alt="Imagem de um botão que tem escrito nele Setembro" title="Mês de Setembro"></a>
    <a href="/bi2019110/"><img src="{% static 'imagens/button/outubro.png' %}" alt="Imagem de um botão que tem escrito nele Outubro" title="Mês de Outubro"></a>
    <a href="/bi2019111/"><img src="{% static 'imagens/button/novembro.png' %}" alt="Imagem de um botão que tem escrito nele Novembro" title="Mês de Novembro"></a>
    <a href="/bi2019112/"><img src="{% static 'imagens/button/dezembro.png' %}" alt="Imagem de um botão que tem escrito nele Dezembro" title="Mês de Dezembro"></a>
   </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<!-- </section> -->
{% endblock %}
