{% extends 'blog/base.html' %}
{% block title %}Boletins Internos Outubro 2015{% endblock %}
{% block content %}
<div  class="bloco_tabela_boletins_2015">
  <h3 class="titulo_tabela_boletins_2015">BOLETINS DE OUTUBRO DE 2015</h3>
  <div class="opcao_voltar_pagina_principal_boletins_2015">
  {% load static %}
  <a href="/bi20151/"><img src="{% static 'imagens/button/voltar.png' %}" alt="Imagem de um botão que tem escrito nele "voltar". Clicando neste botão ele faz retornar para página principal dos meses dos boletins, onde mostra todos os meses do ano" title="Opção voltar"></a>
  </div>
  <br>
  <br>
  <table class="tabela_boletins_2015"> <!--Uma tabela HTML é definida com a <table>tag.-->
    <tr> <!-- linha -->
      <th class="th_tab_bi_2015"> ORDEM </th> <!-- Cabeçalho -->
      <th class="th_tab_bi_2015"> Nº BI </th>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 80 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/outubro2015/BI_080_2_Out_15.pdf' %}" target="_blank"> BI DIA 02 OUT 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 81 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/outubro2015/BI_081_6_Out_15.pdf' %}" target="_blank"> BI DIA 06 OUT 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 82 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/outubro2015/BI_082_9_Out_15.pdf' %}" target="_blank"> BI DIA 09 OUT 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 83 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/outubro2015/BI_083_13_Out_15.pdf' %}" target="_blank"> BI DIA 13 OUT 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 84 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/outubro2015/BI_084_16_Out_15.pdf' %}" target="_blank"> BI DIA 16 OUT 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 85 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/outubro2015/BI_085_20_Out_15.pdf' %}" target="_blank"> BI DIA 20 OUT 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 86 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/outubro2015/BI_086_23_Out_15.pdf' %}" target="_blank"> BI DIA 23 OUT 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 87 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/outubro2015/BI_087_27_Out_15.pdf' %}" target="_blank"> BI DIA 27 OUT 2015 </a> </td>
    </tr>
    <tr>
      <td class="td_tab_bi_2015_1"> 88 </td> <!-- Célula/Coluna-->
      <td class="td_tab_bi_2015_2"> <a href="{% static 'midia/arquivos/boletins/bi2015/outubro2015/BI_088_30_Out_15.pdf' %}" target="_blank"> BI DIA 30 OUT 2015 </a> </td>
    </tr>
  </table>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock %}
