{% extends 'blog/base.html' %}
{% block title %}Ex-Diretores{% endblock %}
{% block content %}
<section class="bloco_descricao_ex-diretores">
  <h2 class="titulo">EX-DIRETORES DO CIMH</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
  <!-- <strong>AVISOS IMPORTANTES</strong> -->
  <br>
  <div class="foto_exdiretores">
     {% load static %}
     <img src="{% static 'imagens/albuns/galeria_cimh/ex_diretores/exdiretorescimh51.jpg' %}" alt="Galeria de fotos dos Ex-Diretores do Campo de Instrução Marechal Hermes" title="Galeria de Ex-Diretores do CIMH" />
  </div>
  <br>
  <br>
  <div  class="bloco_tabela_exdiretores">
    <h3 class="titulo_tabela_exdiretores">RELAÇÃO DOS EX-DIRETORES DO CIMH</h3>
    <br>
    <table class="tabela_exdiretores"> <!--Uma tabela HTML é definida com a <table>tag.-->
      <tr> <!-- linha -->
        <th class="th_tab_exdir">  POST/GRAD  </th> <!-- Cabeçalho -->
        <th class="th_tab_exdir"> ARMA </th>
        <th class="th_tab_exdir"> NOME COMPLETO </th>
        <th class="th_tab_exdir"> PERÍODO </th>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Ten Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Engenharia </td>
        <td class="td_tab_exdir3"> Nelson Cruz </td>
        <td class="td_tab_exdir4"> 10/09/1952 à 30/05/1954 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Ten Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Engenharia </td>
        <td class="td_tab_exdir3"> Francisco I. L. Gomes </td>
        <td class="td_tab_exdir4"> 18/09/1954 à 30/12/1960 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Ten Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Infantaria </td>
        <td class="td_tab_exdir3"> Ovidio Souto da Silva </td>
        <td class="td_tab_exdir4"> 18/11/1961 à 05/05/1969 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Ten Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Artilharia </td>
        <td class="td_tab_exdir3"> Ary Falcão Macedo </td>
        <td class="td_tab_exdir4"> 06/05/1969 à 18/04/1974 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Ten Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Artilharia </td>
        <td class="td_tab_exdir3"> Nilson Santos Walbach </td>
        <td class="td_tab_exdir4"> 19/04/1974 à 05/09/1977 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Infantaria </td>
        <td class="td_tab_exdir3"> Francisco Moacyr Gonçalves </td>
        <td class="td_tab_exdir4"> 24/09/1977 à 28/02/1980 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Cavalaria </td>
        <td class="td_tab_exdir3"> Silvio Cardoso </td>
        <td class="td_tab_exdir4"> 26/02/1980 à 04/10/1984 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Artilharia </td>
        <td class="td_tab_exdir3"> José Newton Rodrigues Romeiro </td>
        <td class="td_tab_exdir4"> 04/10/1984 à 30/07/1994 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Ten Cel  </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Cavalaria </td>
        <td class="td_tab_exdir3"> Roger Antonio Souza Matta </td>
        <td class="td_tab_exdir4"> 30/07/1994 à 21/01/1998 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Engenharia </td>
        <td class="td_tab_exdir3"> Clodomir Rodrigues Calixto </td>
        <td class="td_tab_exdir4"> 22/01/1998 à 09/09/2000 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Ten Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Engenharia </td>
        <td class="td_tab_exdir3"> José Erialdo De A. Monteiro Jr </td>
        <td class="td_tab_exdir4"> 04/09/2000 à 22/01/2003 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Maj </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Infantaria </td>
        <td class="td_tab_exdir3"> Sérgio Corrêa Portela </td>
        <td class="td_tab_exdir4"> 23/01/2003 à 28/01/2005 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Cavalaria </td>
        <td class="td_tab_exdir3"> João Carlos Amaro Neto </td>
        <td class="td_tab_exdir4"> 29/01/2005 à 30/08/2006 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Infantaria </td>
        <td class="td_tab_exdir3"> José Luiz Dalosto </td>
        <td class="td_tab_exdir4"> 06/12/2006 à 13/02/2009 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Cavalaria </td>
        <td class="td_tab_exdir3"> João Carlos Sobral Das Chagas </td>
        <td class="td_tab_exdir4"> 13/02/2009 à 16/02/2011 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Ten Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Comunicações </td>
        <td class="td_tab_exdir3"> André Francisco Martins Dantas </td>
        <td class="td_tab_exdir4"> 16/02/2011 à 15/02/2013 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Infantaria </td>
        <td class="td_tab_exdir3"> Luciano Canaparro Behrend </td>
        <td class="td_tab_exdir4"> 15/02/2013 à 11/02/2015 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Engenharia </td>
        <td class="td_tab_exdir3"> Marcelo Monn Vasconcellos </td>
        <td class="td_tab_exdir4"> 11/02/2015 à 14/02/2017 </td>
      </tr>
      <tr>
        <td class="td_tab_exdir1"> Cel </td> <!-- Célula/Coluna-->
        <td class="td_tab_exdir2"> Engenharia </td>
        <td class="td_tab_exdir3"> Algemiro Ambrosi Junior </td>
        <td class="td_tab_exdir4"> 01/02/2017 à 19/12/2018 </td>
      </tr>
    </table>
  </div>
</section>
{% endblock %}
