{% extends 'blog/base.html' %}
{% block title %}Histórico{% endblock %}
  {% block content %}
    <section class="bloco_descricao_historico1">
             <h2 class="titulo">Histórico</h2>
             <!--A tag <strong> é uma tag de frase. Define texto importante.
             Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
             <strong>BREVE HISTÓRICO DO C.I.M.H.</strong>
             <br>
             <br>
             <div align="justify">
             O Campo de Instrução Marechal Hermes (CIMH) foi criado em 10 de setembro de 1952, com a cerimônia de hasteamento do Pavilhão Nacional, simbolizando a transferência das empresas incorporadas ao patrimônio da União para o Ministério da Guerra, autorizada pelo Exmo Sr. Presidente da República Getúlio Vargas, no Diário Oficial de 23 de agosto daquele ano.
             A sede do CIMH ocupa a área e algumas instalações que pertenciam a antiga Companhia Lumber, localizando-se no Centro do município de Três Barras no estado de Santa Catarina. O Campo de Instrução possui ainda uma extensa área de manobras, situada a 14 km de distância da sede, abrangendo terras dos municípios de Três Barras e Papanduva no estado catarinense.
             A designação de Campo de Instrução Marechal Hermes foi dada pelo decreto nr 32.431, de 17 de março de 1953, em homenagem ao Marechal Hermes Rodrigues da Fonseca, destacado chefe militar e estadista brasileiro.
             O CIMH é uma unidade não operacional do Exército Brasileiro, subordinada diretamente a 5ª Região Militar, e tem como missão assegurar as áreas sob sua responsabilidade e mantê-las em condições para o adestramento de outras organizações militares, principalmente dos estados de Santa Catarina e Paraná.
             Por ocupar terras localizadas em região de conflitos durante a Guerra do Contestado e ter como missão principal o adestramento de tropas, o Campo de Instrução Marechal Hermes tem como lema hoje a frase postulada por um de seus ex-diretores: "NESTAS TERRAS UM DIA CONTESTADAS, O SEU EXÉRCITO ADESTRA-SE PARA DEFENDÊ-LAS"
             </div>
    </section>
  {% endblock %}
