{% extends 'blog/base.html' %}
{% block title %}Instrução{% endblock %}
{% block content %}
<section class="bloco_descricao_instrucao">
  <h2 class="titulo">Seção de Instrução do CIMH</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
  <!-- <strong>AVISOS IMPORTANTES</strong> -->
  <br>
  <br>
  <div class="fotos_instrucao_grupo">
    <div class="fotos_instrucao_subgrupo">
      {% load static %}
      <a href="{% static 'midia/arquivos/s3/eb20-mc-10350/doc.pdf' %}" target="_blank">
        <img class="img_s3_1" src="{% static 'midia/imagens/s3/eb20-mc-10350.png' %}" alt="Imagem da Capa do Novo Manual de TFM de 2015" title="Manual de TFM 2015">
      </a>
      <p class="sobre_documento_instrucao"> Novo Manual de <br> TFM 2015 </p>
    </div>
    <div class="fotos_instrucao_subgrupo">
      {% load static %}
      <a href="{% static 'midia/arquivos/s3/eb20-mc-10350/doc.pdf' %}" target="_blank">
        <img class="img_s3_1" src="{% static 'midia/imagens/s3/eb20-mc-10350.png' %}" alt="Imagem da Capa do Novo Manual de TFM de 2015" title="Manual de TFM 2015">
      </a>
      <p class="sobre_documento_instrucao"> Novo Manual de <br> TFM 2015 </p>
    </div>
    <div class="fotos_instrucao_subgrupo">
      {% load static %}
      <a href="{% static 'midia/arquivos/s3/eb20-mc-10350/doc.pdf' %}" target="_blank">
        <img class="img_s3_1" src="{% static 'midia/imagens/s3/eb20-mc-10350.png' %}" alt="Imagem da Capa do Novo Manual de TFM de 2015" title="Manual de TFM 2015">
      </a>
      <p class="sobre_documento_instrucao"> Novo Manual de <br> TFM 2015 </p>
    </div>
</section>
{% endblock %}
