{% extends 'blog/base.html' %}
{% block title %}Militares{% endblock %}
{% block content %}
<div  class="bloco_tabela_militares">
  <h2 class="titulo_tabela_militares">Seção de Pessoal do CIMH</h2>
  <h3 class="titulo_tabela_militares">Militares do CIMH</h3>
  <table class="tabela_militares"> <!--Uma tabela HTML é definida com a <table>tag.-->
    <tr> <!-- linha -->
      <th class="th_tab_mil">  ORDEM  </th> <!-- Cabeçalho -->
      <th class="th_tab_mil"> POST/NOME </th>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 1 </td> <!-- Célula/Coluna-->
      <td class="td_tab_mil2">Cel Ryu </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 2 </td>
      <td class="td_tab_mil2"> 1º Ten Proença </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 3 </td>
      <td class="td_tab_mil2"> 1º Ten Gaier </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 4 </td>
      <td class="td_tab_mil2"> 2º Ten Jeniffer </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 5 </td>
      <td class="td_tab_mil2"> 2º Ten Benites </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 6 </td>
      <td class="td_tab_mil2"> Asp Of Zattar</td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 7 </td>
      <td class="td_tab_mil2"> ST Vieira </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 8 </td>
      <td class="td_tab_mil2"> 1º SGT Goestemeier </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 9 </td>
      <td class="td_tab_mil2"> 2º SGT Machado </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 10 </td>
      <td class="td_tab_mil2"> 2º SGT Quaiato </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 11 </td>
      <td class="td_tab_mil2"> 3º SGT Alexandre </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 12 </td>
      <td class="td_tab_mil2"> Cb EP Prado </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 13 </td>
      <td class="td_tab_mil2"> Cb EP Ribeiro </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 14 </td>
      <td class="td_tab_mil2"> Sd EP Guginski </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 15 </td>
      <td class="td_tab_mil2"> Sd EP Severino </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 16 </td>
      <td class="td_tab_mil2"> Sd EP Tobias </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 17 </td>
      <td class="td_tab_mil2"> Sd EP Cardoso </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 18 </td>
      <td class="td_tab_mil2"> Sd EP Kautz </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 19 </td>
      <td class="td_tab_mil2"> Sd EP Barbosa </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 20 </td>
      <td class="td_tab_mil2"> Sd EP Bayerl </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 21 </td>
      <td class="td_tab_mil2"> Sd EP Roscamp </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 22 </td>
      <td class="td_tab_mil2"> Sd EP Sitorski </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 23 </td>
      <td class="td_tab_mil2"> Sd EP Ferreira </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 24 </td>
      <td class="td_tab_mil2"> Sd EV Dal'comune </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 25 </td>
      <td class="td_tab_mil2"> Sd EV Muller </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 26 </td>
      <td class="td_tab_mil2"> Sd EV Alves </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 27 </td>
      <td class="td_tab_mil2"> Sd EV Koch </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 28 </td>
      <td class="td_tab_mil2"> Sd EV Perdoná </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 29 </td>
      <td class="td_tab_mil2"> Sd EV Zakcheski </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 30 </td>
      <td class="td_tab_mil2"> Sd EV Muchinski </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 31 </td>
      <td class="td_tab_mil2"> Sd EV Dos Santos </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 32 </td>
      <td class="td_tab_mil2"> Sd EV Bileski </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 33 </td>
      <td class="td_tab_mil2"> Sd EV Melechenko </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 34 </td>
      <td class="td_tab_mil2"> Sd EV Jackson Kotchi </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 35 </td>
      <td class="td_tab_mil2"> Sd EV Bueno </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 36 </td>
      <td class="td_tab_mil2"> Sd EV Adur </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 37 </td>
      <td class="td_tab_mil2"> Sd EV Jefferson Kotchi </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 38 </td>
      <td class="td_tab_mil2"> Sd EV Deller </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 39 </td>
      <td class="td_tab_mil2"> Sd EV Gomes </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 40 </td>
      <td class="td_tab_mil2"> Sd EV Soares </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 41 </td>
      <td class="td_tab_mil2"> Sd EV Mattos </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 42 </td>
      <td class="td_tab_mil2"> Sd EV Correa </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 43 </td>
      <td class="td_tab_mil2"> Sd EV Reis </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 44 </td>
      <td class="td_tab_mil2"> Sd EV Martins </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 45 </td>
      <td class="td_tab_mil2"> Sd EV Lemos </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 46 </td>
      <td class="td_tab_mil2"> Sd EV Muhlmann </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 47 </td>
      <td class="td_tab_mil2"> Sd EV Gonçalves </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 48 </td>
      <td class="td_tab_mil2"> Sd EV Rodrigues </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 49 </td>
      <td class="td_tab_mil2"> Sd EV Oliveira </td>
    </tr>
    <tr>
      <td class="td_tab_mil1"> 50 </td>
      <td class="td_tab_mil2"> Sd EV Padilha </td>
    </tr>
  </table>
</div>
{% endblock %}
