{% extends 'blog/base.html' %}
{% block title %}Missão{% endblock %}
{% block content %}
<section class="bloco_descricao_missao">
  <h2 class="titulo">Missão</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
  <strong>MISSÃO DO C.I.M.H.</strong>
  <br>
  <br>
  Assegurar as áreas sob responsabilidade do CIMH, e mantê-las em condições de receberem as OOMM da 5ª RM/5ªDE para seus exercícios de adestramento.
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</section>
{% endblock %}
