{% extends 'blog/base.html' %}
{% block title %}Objetivos{% endblock %}
{% block content %}
<section class="bloco_descricao_objetivos">
  <h2 class="titulo">Objetivos de Comando</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
  <strong>OBJETIVOS DE COMANDO DO C.I.M.H.</strong>
  <br>
  <br>
  Atingir padrões de excelência de zelo e de responsabilidade nas áreas  relativas ao público interno, ao patrimônio, a administração, a instrução e a ação social e ambiental.
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  {% endblock %}
