{% extends 'blog/base.html' %}
{% block title %}Telefones2{% endblock %}
{% block content %}
<div  class="bloco_tabela_telefones2">
  <h3 class="titulo_org_civ">ORGÃOS PÚBLICOS</h3>
  <br>
  <table class="tabela_telefone"> <!--Uma tabela HTML é definida com a <table>tag.-->
    <tr> <!-- linha -->
      <th class="th_tab_tel">ORGÃOS</th> <!-- Cabeçalho -->
      <th class="th_tab_tel">TELEFONES</th>
    </tr>    
    <tr>
      <td class="td_tab_tel">Auto Elétrica Três Barras</td>
      <td class="td_tab_tel"> (47) 3623-0161</td>
      <tr>
        <td class="td_tab_tel">Avenida Materiais de Construção</td>
        <td class="td_tab_tel"> (47) 3623-0157</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Banco Bradesco</td>
        <td class="td_tab_tel"> (47) 3623-0292</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Banco do Brasil</td>
        <td class="td_tab_tel">(47) 3623-0210</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Banco Itaú</td>
        <td class="td_tab_tel">(47) 3623-0100</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Barbeiro - Dine</td>
        <td class="td_tab_tel">(47) 8807-9998</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Cartório</td>
        <td class="td_tab_tel">(47) 3623-0265</td>
      </tr>
      <tr>
        <td class="td_tab_tel">CELESC</td>
        <td class="td_tab_tel">(47) 3623-0195</td>
      </tr>
      <tr>
        <td class="td_tab_tel">CELESC</td>
        <td class="td_tab_tel">0800 480196</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Correios</td>
        <td class="td_tab_tel">(47) 3623-0140</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Delegacia de Polícia Civil</td>
        <td class="td_tab_tel">(47) 3623-0131</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Egídio Moretti Oficina Mecânica</td>
        <td class="td_tab_tel">(47) 3623-0261</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Entalhador Valdenilson</td>
        <td class="td_tab_tel">(47) 9222-4402</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Fábio e Junior Papelaria</td>
        <td class="td_tab_tel">(47) 3623-0290</td>
      </tr>
      <tr>
        <td class="td_tab_tel">FOREX</td>
        <td class="td_tab_tel">(47) 3624-2721</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Hospital de Três Barras</td>
        <td class="td_tab_tel">(47) 3623-0203</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Hospital de Três Barras</td>
        <td class="td_tab_tel">(47) 3623-0201</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Posto de Saúde</td>
        <td class="td_tab_tel">(47) 3623-0058</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Igreja Católica</td>
        <td class="td_tab_tel">(47) 3623-0233</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Igreja Evangélica</td>
        <td class="td_tab_tel">(47) 3623-0911</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Lev Pão Padaria</td>
        <td class="td_tab_tel">(47) 3623-1380</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Maíco Antenas Parabólicas</td>
        <td class="td_tab_tel">(47) 3623-0257</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Maíco Antenas Parabólicas</td>
        <td class="td_tab_tel">(47) 9655-8275</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Maxipeças Eletro Autopeças</td>
        <td class="td_tab_tel">(47) 3623-0608</td>
      </tr>
      <tr>
        <td class="td_tab_tel">MILI</td>
        <td class="td_tab_tel">(47) 3621-4100</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Posto São Gabriel</td>
        <td class="td_tab_tel">(47) 3623-0628</td>
      </tr>
      <tr>
        <td class="td_tab_tel">RIGESA </td>
        <td class="td_tab_tel">(47) 3621-5400</td>
      </tr>
      <tr>
        <td class="td_tab_tel">SAMASA</td>
        <td class="td_tab_tel">(47) 3623-1473</td>
      </tr>
      <tr>
        <td class="td_tab_tel">SAMASA - Plantão</td>
        <td class="td_tab_tel">(47) 8444-1669</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Superlar Supermercado</td>
        <td class="td_tab_tel">(47) 3623-0190</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Telli Foto</td>
        <td class="td_tab_tel">(47) 3623-0364</td>
      </tr>
      <tr>
        <td class="td_tab_tel">Junior Temperados, Esquadrias e Vidraçaria</td>
        <td class="td_tab_tel">(47) 3623-0942</td>
      </tr>
    </table>
  </div>
  {% endblock %}
