{% extends 'blog/base.html' %}
{% block title %}Telefones{% endblock %}
{% block content %}
<div  class="bloco_tabela_telefone">
  <h3 class="titulo_org_mil">ORGANIZAÇÕES MILITARES</h3>
  <br>
  <table class="tabela_telefone"> <!--Uma tabela HTML é definida com a <table>tag.-->
    <tr> <!-- linha -->
      <th class="th_tab_tel">ORGANIZAÇÃO</th> <!-- Cabeçalho -->
      <th class="th_tab_tel">TELEFONES</th>
    </tr>
    <tr>
      <td class="td_tab_tel">CIMH - Guarda</td> <!-- Célula/Coluna-->
      <td class="td_tab_tel">(47) 3623-5114</td>
    </tr>
    <tr>
      <td class="td_tab_tel">CIMH - Fiscal Administrativo</td>
      <td class="td_tab_tel">(47) 3623-5186</td>
    </tr>
    <tr>
      <td class="td_tab_tel">CIMH - Área de Manobras</td>
      <td class="td_tab_tel">(47) 3622-4700</td>
    </tr>
    <tr>
      <td class="td_tab_tel">CIMH - Diretor</td>
      <td class="td_tab_tel">(47) 3623-0947</td>
    </tr>
    <tr>
      <td class="td_tab_tel">Comando Militar do Sul</td>
      <td class="td_tab_tel">(51) 3215-8400</td>
    </tr>
    <tr>
      <td class="td_tab_tel">5 Região Militar </td>
      <td class="td_tab_tel">(41) 3316-4800</td>
    </tr>
    <tr>
      <td class="td_tab_tel">AD / 5</td>
      <td class="td_tab_tel">(41) 3316-4873</td>
    </tr>
    <tr>
      <td class="td_tab_tel">5 Cia PE</td>
      <td class="td_tab_tel">(41) 3316-4864</td>
    </tr>
    <tr>
      <td class="td_tab_tel">CRO / 5</td>
      <td class="td_tab_tel">(41) 3268-0147</td>
    </tr>
    <tr>
      <td class="td_tab_tel">11 CT</td>
      <td class="td_tab_tel">(41) 3316-4888</td>
    </tr>
    <tr>
      <td class="td_tab_tel">HGCE - Geral</td>
      <td class="td_tab_tel">(41) 3281-7500</td>
    </tr>
    <tr>
      <td class="td_tab_tel">HGCE - Marcação de Consultas</td>
      <td class="td_tab_tel">(41) 3281-7530</td>
    </tr>
    <tr>
      <td class="td_tab_tel">HGCE - Marcação de Consultas</td>
      <td class="td_tab_tel">(41) 3281-7546</td>
    </tr>
    <tr>
      <td class="td_tab_tel">HGCE - SAME</td>
      <td class="td_tab_tel">(41) 3281-7523</td>
    </tr>
    <tr>
      <td class="td_tab_tel">HGCE - FUSEx</td>
      <td class="td_tab_tel">(41) 3281-7538</td>
    </tr>
    <tr>
      <td class="td_tab_tel">HGCE - JIS</td>
      <td class="td_tab_tel">(41) 3281-7517</td>
    </tr>
    <tr>
      <td class="td_tab_tel">POUPEx</td>
      <td class="td_tab_tel">(41) 2108-3830</td>
    </tr>
    <tr>
      <td class="td_tab_tel">5 B Log</td>
      <td class="td_tab_tel">(41) 3316-4892</td>
    </tr>
    <tr>
      <td class="td_tab_tel">5 B Sup</td>
      <td class="td_tab_tel">(41) 3304-6312</td>
    </tr>
    <tr>
      <td class="td_tab_tel">5 RCC</td>
      <td class="td_tab_tel">(47) 3642 3144</td>
    </tr>
    <tr>
      <td class="td_tab_tel">15 B Log</td>
      <td class="td_tab_tel">(45) 3225-1399</td>
    </tr>
    <tr>
      <td class="td_tab_tel">27 B Log</td>
      <td class="td_tab_tel">(41) 3256-2044</td>
    </tr>
    <tr>
      <td class="td_tab_tel">Pq R Mnt / 5</td>
      <td class="td_tab_tel">(41) 3356-2882</td>
    </tr>
    <tr>
      <td class="td_tab_tel">2 Cia Sup / 5 B Sup</td>
      <td class="td_tab_tel">(42) 3252-1414</td>
    </tr>
    <tr>
      <td class="td_tab_tel">5 BE Cmb Bld</td>
      <td class="td_tab_tel">(42) 3522-1693</td>
    </tr>
    <tr>
      <td class="td_tab_tel">JSM 119 - Três Barras</td>
      <td class="td_tab_tel">(47) 3623-1451</td>
    </tr>
    <tr>
      <td class="td_tab_tel">JSM 111 - Canoinhas</td>
      <td class="td_tab_tel">(47) 3622-3469</td>
    </tr>
    <tr>
      <td class="td_tab_tel">16 CSM</td>
      <td class="td_tab_tel">(48) 3222-5612</td>
    </tr>
    <tr>
      <td class="td_tab_tel">5 Bda C Bld</td>
      <td class="td_tab_tel">(42) 3225-2477</td>
    </tr>
    <tr>
      <td class="td_tab_tel">14 Bda Inf Mtz</td>
      <td class="td_tab_tel">(48) 3722-4400</td>
    </tr>
    <tr>
      <td class="td_tab_tel">15 Bda Inf Mec</td>
      <td class="td_tab_tel">(45) 3225-1022</td>
    </tr>
  </table>
</div>
{% endblock %}
