{% extends 'blog/base.html' %}
{% block title %}Visão{% endblock %}
{% block content %}
<section class="bloco_descricao_visao">
  <h2 class="titulo">Visão</h2>
  <!--A tag <strong> é uma tag de frase. Define texto importante.
  Dica: essa tag não está obsoleta, mas é possível obter um efeito mais rico com o CSS. -->
  <strong>VISÃO DO C.I.M.H.</strong>
  <br>
  <br>
  Expandir oportunidades para que todas as OOMM do Exército Brasileiro possam executar seus exercícios de adestramento nas áreas de responsabilidade do CIMH.
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  {% endblock %}
